@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #252525;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 999px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
    border-radius: 999px;
}